* {
  box-sizing: border-box;
}
.page-container {
  display: flex;
  flex-direction: row;
}

.map-container {
  position: absolute;
  inset: 40px;
  border-radius: 25px;
  height: 70vh;
}

.map {
  position: relative;
  border-radius: 25px;
  height: 100%;
}
