{% extends "driver/layout.html" %} {% block title %}Driver Homepage{% endblock
%} {% block head %}

<!--(For production use, you might want to Download the files instead of using unpkg.com
https://github.com/perliedman/leaflet-routing-machine/releases
-->

<!-- Leaflet CSS (For OpenStreet Maps) -->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""
/>

<!-- Leaflet JS (For OpenStreet Maps)-->
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""
></script>

<!-- Custom CSS file for Driver Homepage-->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/driver/homepage.css') }}"
/>

<!--Leaflet Routing Machine CSS and JS-->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"
/>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

<!--Leaflet Marker Clustering-->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css"
/>
<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

<!-- The Actual Homepage Content-->
{% endblock %} {% block content %}
<!-- This is used to set a height for the map container on this page, you dont need it on others-->
<div id="top-content" class="top-content-container">
  <div id="side-content" class="side-content">
    <div class="side-content-header">
      <i onclick="hideSideContent()" class="fa-solid fa-arrow-left"></i>
      <h2>Request</h2>
    </div>
    <div id="side-content-body" class="side-content-body"></div>
  </div>
  <div id="map-container" class="map-container">
    <!-- This is the element for the map to be instantiated in-->
    <div id="map" class="map"></div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='js/driver/homepage.js')}}"></script>
<script>
  async function createTransaction() {
    const addressData = await reverseGeocode(
      selectedMarker.lat,
      selectedMarker.lng,
    );
    const address = addressData.display_name.replace(
      ", Trinidad and Tobago",
      "",
    );

    await fetch("/api/driver/update-stop", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        stop_id: selectedMarker.stop_id,
        status: 3,
      }),
    })
      .then((response) => {
        if (response.ok) {
          //Check if there are customer requests associated with this stop,
          // if not return
          if (selectedMarker.customer_requests.length == 0) {
            window.location.href =
              "{{ url_for('driver_views.driver_homepage',message='Request Completed!') }}";
            return;
          }

          return fetch("/api/driver/make-transaction", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              address: address,
              lat: selectedMarker.lat,
              lng: selectedMarker.lng,
              order_items: selectedMarker.customer_requests,
            }),
          });
        } else {
          window.location.href =
            "{{ url_for('driver_views.driver_homepage',message='Could not complete Request, please try again') }}";
        }
      })
      .then((response) => {
        if (response.ok) {
          window.location.href =
            "{{ url_for('driver_views.driver_homepage',message='Request Completed!') }}";
        } else {
          window.location.href =
            "{{ url_for('driver_views.driver_homepage',message='Could not complete Request, please try again') }}";
        }
      });
  }

  async function cancelOrder() {
    await fetch("/api/driver/update-stop", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        stop_id: selectedMarker.stop_id,
        status: 4,
      }),
    }).then((response) => {
      if (response.ok) {
        window.location.href =
          "{{ url_for('driver_views.driver_homepage',message='Request Cancelled!') }}";
      } else {
        window.location.href =
          "{{ url_for('driver_views.driver_homepage',message='Could not cancel Request, please try again') }}";
      }
    });
  }
</script>
{% endblock %}
