{% extends "driver/layout.html" %} {% block title %}Flask MVC App{% endblock %}
{% block head %}

<!--(For production use, you might want to Download the files instead of using unpkg.com
https://github.com/perliedman/leaflet-routing-machine/releases
-->

<!-- Leaflet CSS (For OpenStreet Maps) -->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""
/>

<!-- Leaflet JS (For OpenStreet Maps)-->
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""
></script>

<!-- Custom CSS file for Driver Homepage-->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/driver/homepage.css') }}"
/>

<!-- Custom CSS file for Driver Requests-->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/driver/requests_page.css') }}"
/>

<!--Leaflet Routing Machine CSS and JS-->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"
/>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

<!-- The Actual Homepage Content-->
{% endblock %} {{ super() }} {% block content %}
<!-- This is used to set a height for the map container on this page, you dont need it on others-->
<div id="top-content" class="top-content-container">
  <div id="requests-content" class="requests-content">
    <div class="requests-content-header">
      <a href="{{ url_for('driver_views.driver_homepage') }}">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
      <h2>New Requests</h2>
    </div>
    <div id="requests-content-body" class="requests-content-body">
      {% if pending_stops %} {% for pending_stop in pending_stops %}
      <div class="request-card" onclick="goToMarker({{pending_stop.stop_id}})">
        <h2 class="address-header">ADDRESS:</h2>
        <h2 class="address-body">{{pending_stop.address}}</h2>
        <div class="order-details">
          <h2 class="order-details-header">Order Details</h2>
          {% for customer_request in pending_stop.customer_requests %}
          <div class="order-item">
            <div class="order-item-name">{{customer_request.item.name}}</div>
            <div class="order-item-quantity">{{customer_request.quantity}}</div>
          </div>
          {% endfor %}
        </div>
        <a
          href="/driver/requests/deny/{{pending_stop.stop_id}}"
          class="deny-button"
          >Deny</a
        >
        <a
          href="/driver/requests/accept/{{pending_stop.stop_id}}"
          class="accept-button"
          >Accept</a
        >
      </div>
      {% endfor %} {% else %}
      <h2 class="address-header">NO NEW REQUESTS</h2>
      {% endif %}
    </div>
  </div>
  <div id="map-container" class="map-container">
    <!-- This is the element for the map to be instantiated in-->
    <div id="map" class="map"></div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='js/driver/homepage.js')}}"></script>
<script src="{{url_for('static', filename='js/driver/requests_page.js')}}"></script>
{% endblock %}
