{% extends "customer/layout.html" %} {% block title %}Cart{% endblock %} {%
block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/customer/checkout.css') }}"
/>
{% endblock %} {% block content %}
<div class="page-content">
  <div class="modal-dimmer" id="modal-dimmer"></div>

  <div id="order-modal" class="order-modal">
    <div class="order-modal-content">
      <div class="order-modal-close-button" onclick="closeModal()">X</div>
      <p class="order-modal-text">You already have an existing order!</p>
      <p
        class="descriptor-info"
        style="
          margin-bottom: 2vh;
          background-color: var(--orange-light);
          font-size: 0.8rem;
        "
      >
        New Orders must be reapproved by drivers!
      </p>
      <div class="order-modal-btns">
        <div class="order-modal-btn" onclick="createNewOrder()">
          Create New Order
        </div>
        <div class="order-modal-btn" onclick="createOrder(true)">
          Add To Existing Order
        </div>
      </div>
    </div>
  </div>

  <div class="back-btn" onclick="history.back()">
    <i class="fa-solid fa-arrow-left"></i>
  </div>

  <div class="top-content">
    <div class="map-container">
      <div id="map" class="map"></div>
    </div>
    <div class="order-section">
      <div class="order-header">
        <p class="order-title">My Order <span> ({{order | length}})</span></p>
        <p class="order-eta">eta: <span id="order-eta">Unavailable</span></p>
      </div>
      <div class="order-items">
        <p class="descriptor-info">
          ETA is calculated from you're location, you may change location on the
          order section of the homepage
        </p>
        {% for item in order %}
        <div class="order-item">
          <p class="item-name">{{item.name}}</p>
          <p class="item-quantity">x {{item.quantity}}</p>
          <div class="item-details">
            <p class="item-price">
              <span> Unit Price: </span>${{ "%.2f" % item.price}}
            </p>
            <p class="item-total">
              <span>Total:</span> ${{ "%.2f" % (item.price * item.quantity) }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="checkout-section">
    <p class="order-total"><span>Total: </span> ${{"%.2f" % order_total}}</p>
    <button class="confirm-btn" onclick="makeOrder()">CONFIRM</button>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  van_plate = {{van_plate | tojson}}
</script>
<script src="{{url_for('static', filename='js/customer/map.js')}}"></script>
<script src="{{url_for('static', filename='js/customer/checkout.js')}}"></script>
<script>
  function closeModal() {
    orderModal = document.querySelector("#order-modal");
    overlay = document.querySelector("#modal-dimmer");

    orderModal.style.zIndex = "-100";
    orderModal.style.opacity = 0;

    overlay.style.zIndex = "-99";
  }

  function displayOrderDecisionModal() {
    orderModal = document.querySelector("#order-modal");
    overlay = document.querySelector("#modal-dimmer");

    orderModal.style.zIndex = "100";
    orderModal.style.opacity = 1;

    overlay.style.zIndex = "99";
  }

  async function getActiveOrder() {
    const res = await fetch("/api/customer/get-order");
    const json = await res.json();

    return json;
  }

  async function createOrder() {
    // Production Code

    addressData = await reverseGeocode(lat, lng);
    address = addressData.display_name.replace(", Trinidad and Tobago", "");

    if (customerMarker) {
      lat = customerMarker.getLatLng().lat;
      lng = customerMarker.getLatLng().lng;

      fetch("/api/customer/make-order", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ lat: lat, lng: lng, address: address }),
      }).then((response) => {
        if (response.ok) {
          window.location.href =
            "{{ url_for('customer_views.customer_homepage', message='Order Created!') }}";
        }
      });
    }
  }

  function createNewOrder() {
    fetch("/api/customer/delete-order", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
    }).then((response) => {
      if (response.ok) {
        createOrder();
      }
    });
  }

  async function makeOrder() {
    activeOrder = await getActiveOrder();

    if (activeOrder.response) {
      displayOrderDecisionModal();
      return;
    }

    createOrder();
  }
</script>
{% endblock %}
